.contenedor{
    background-color: rgb(56, 24, 197);
}
.descripcion{
    margin-top: 1em;
    font-size: 1.5vw;
    color: white;
}
.titulo{
    color: white;
    font-size: 4vw;
}
.imagenLogo{
    margin-top: 1vh;
    height: 50%;
    width: 30%;
}
.rowCabecera{
    height: 40%;
}