.cabeceraTable{
    background-color: rgb(34, 103, 233);
}
.divPopUp{
    background-color: red;
    width: 20vw;
    height: 20vh;
}
.title{
    text-align: center;
    color:rgb(34, 103, 233);
    font-size: 2em;
}
.strikes{
    color: red;
}