.divOrigenDestino{
    background-color: rgb(0, 51, 255);
    height: 40vh;
    max-height: 80vh;
    margin: 1vh;
    color: white;
}
.divContenedorDescripcionProducto{
    background-color: rgb(0, 51, 255);
    min-height: 35vh;
    max-height: 60vh;
    margin: 1vh;
    color: white;
}
.labelInputs{
    margin-left: 0px;
    padding-left: 0px;
    text-shadow: 2px 2px #000000;
    float: left;
}
.labelInputsCargaDescarga {
    font-size: 0.7em;
    float: left;
    text-align: left;
}

.CheckBox{
    width: 5vw;
    height: 3vh;
    background-color: red;
}
.botonAceptar{
    width: 10vw;
    height: 6vh;
    max-height: 12vh;
    margin: 10px;
}
.botonCancelar{
    width: 10vw;
    height: 6vh;
    max-height: 12vh;
}
.contenidoBotonCancelarAceptar{
    font-size: 1em;
}
.centrarCol
{
    float: none;
    margin: 0 auto;
}
.labelOferta{
    margin-left: 0px;
    padding-left: 0px;
    text-shadow: 2px 2px #000000;
}