.botonTipo{
    width: 28vw;
    height: 10vh;
}
.contenidoBoton{
    font-size: 2ex;
}
.DivHomeDescripcion{
    background-color: rgba(240, 132, 30, 0.945);
    border-radius: 10px;
    box-shadow: 10px 10px 15px #999;
    margin: 5vh;
    padding: 2vh;
    text-align: left;
    color:rgb(236, 223, 223);
    font-size: 1.8ex;
}