.botonTipo{
    width: 25vw;
    height: 12vh;
    max-height: 12vh;
}
.contenidoBoton{
    font-size: 2vw;

}
.DivHomeDescripcion{
    /* background-color: rgba(30, 103, 240, 0.945); */
    border-radius: 10px;
    box-shadow: 10px 10px 15px 10px rgb(0, 0, 0);
    margin: 0vh;
    padding: 1vh;

    text-align: left;
    color:rgb(0, 0, 0);
    text-shadow: 1px 1px #001aff;
    
    font-size: 3vw;
    /* height: 25vh; */
    display: flex;
}
.Welcome{
    font-size: 4.3vh;
    font-size-adjust: initial;
}
.imagenBanner{
    height: 45vh;
    width: 100%;
    display: flex;
}
